// Page Styles
* {
    // border: 1px solid red;
}

html {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    margin-top: 150px;
}

// Nav Styles

nav div {
    width: 50%;
    display: flex;
}

nav div a {
    align-self: center;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav span {
    color: $primaryColor;
}

.customUnderline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.customUnderline::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 4px;
    width: 50%;
    left: 0%;
    background-color: $primaryColor;
}

.customOverline::before {
    content: "";
    position: absolute;
    top: 0;
    height: 4px;
    width: 50%;
    right: -160%;
    background-color: black;
}

button:hover,
button:focus {
    background: $primaryColor;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

button {
    background: none;
}


//Splash styles

header {
    background: $backgroundColor;
}

.slashContainer {
    display: flex;
}

.halfWrapper {
    margin-left: auto;
    width: 90%;
}

.slashPic {
    width: 60%;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
}

.slashTextContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    color: black;
    font-size: 3.5rem;
    margin: 0;
}

.slashTitle h1 {
    color: $primaryColor;
}

.slashTitle {
    align-self: center;
}

.slashText {
    
}

//Project styles

.projectShot {
    width: 40%;
}

.buttonContainer {
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.projectTextContainer {
    width: 40%;
}

.projectContainer::before {
    content: "";
    position: absolute;
    top: 0;
    height: 4px;
    width: 50%;
    right: 0;
    background-color: black;
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    margin: 150px 0;
}

.linkage:hover {
    color: $primaryColor;
}

//Skills styles

.skillContainer {
    width: 10%;
}

.skillsContainer1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skillsContainer2 {
    padding-bottom: 100px;
}

.skillsContainer1, .skillsContainer2 {
    display: flex;
    justify-content: space-around;
    background: $backgroundColor;
}

//Form styles

form {
    width: 70%;
}

.getInTouchContainer {
    width: 20%;
}

.icons {
    width:35%;
}
.icons ul {
    display: flex;
    font-size: 3rem;
    justify-content: space-around;
}

input[type=textarea] {
    width: 143%;
}

.nameEmailContainer {
    display: flex;
}

.contact {
    display: flex;
}

fieldset::before {
    content: "";
    position: absolute;
    top: 0;
    height: 4px;
    width: 50%;
    right: 0;
    background-color: black;
}

//Footer styles
footer p {
    margin-bottom: 0;
    margin-top: 100px;
    text-align: center;
}

//Media Queries
@media (max-width: 1000px) {
    // .wrapper {
    //     width: 100%;
    // }

    // .halfWrapper {
    //     width: 100%;
    // }
}